.animated-slide {
    animation: slide 0.5s linear;
  }
  @keyframes slide {
    0% { transform: translateX(-500px);opacity:0;}
    20% { transform: translateX(-400px);opacity:0.1;}
    40% { transform: translateX(-300px);opacity:0.3;}
    60% { transform: translateX(-200px);opacity:0.4;}
    80% { transform: translateX(-100px);opacity:0.5;}
    100% { transform: translateX(0px);opacity:1;}
  }